/* style.css */

* {
    background-color: #ebe8e8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 105%;
}

.recipe-img {
    height: auto;
    width: 30%;
}

.img-centered .recipe-img {
    display: block;
    margin: auto;
}

.page-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    line-height: 10%;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    line-height: 75%;
    text-align: center;
}

h4 {
    font-size: 20px;
    text-decoration: underline;
    line-height: 75%;
}

.recipe-author {
    text-align: center;
    text-decoration: none;
}

ul li {
    list-style-type: square;
    list-style-position: outside;
}

a {
    text-decoration: none;
}