/* style.css */

* {
    background-color: #ebe8e8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.recipe-img {
    height: auto;
    width: 30%;
}

.img-centered .recipe-img {
    display: block;
    margin: auto;
}