/* style.css */

* {
    background-color: #FAEDCA;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 105%;
    /* border: 2px solid red; */
}

.homepage-container {
    padding: 15px;
    margin: 10px;
}

/* Images */

.recipe-img {
    height: auto;
    width: 35%;
}

.img-centered .recipe-img {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 50px;
}

/* Headers */

.page-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin: 0px auto;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    line-height: 75%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
}

h4 {
    font-size: 20px;
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px 15px;
}

.recipe-author {
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px;
}

/* Lists */

ul {
    margin-top: 0px;
    margin-bottom: 10px;
}

ol {
    margin-top: 0px;
    margin-bottom: 10px;
}

ul li {
    list-style-type: square;
    list-style-position: outside;
}

/* Paragraphs */
a {
    text-decoration: none;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 15px;
}

/* Button */

.button-container {
    margin: 10px auto 0px;
    padding: 15px 20px;
    text-align: center;
}

button {
    padding: 10px;
    color: #ffffff;
    background-color: #C1DBB3;
    border-radius: 10px;
}

button a {
    background-color: #C1DBB3;
    color: black;
}

/* Button Hover */

button:hover {
    background-color: #7ebc89;
    box-shadow: 2px 2px 2px 1px gray;
}

button:hover a {
    background-color: #7ebc89;
    color: #000000;
}